---
import BaseHead from '../components/BaseHead.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const isEn = Astro.url.pathname.startsWith('/en');
---
<!DOCTYPE html>
<html lang={isEn ? 'en' : 'pt-BR'}>
<head>
  <BaseHead title={title} description={description} />
</head>
<body>
  <slot />
</body>
</html>
